{#

Description text for Section 6.

#}

{{ attach_library('core/drupal.dialog.ajax') }}


{% set qls_ss6_create_namespace_form = path('qls_ss6.create_namespace_form') %}
{% set qls_ss6_create_subnamespace_form = path('qls_ss6.create_subnamespace_form') %}
{% set qls_ss6_list_namespaces_form = path('qls_ss6.list_namespaces_form') %}
{% set qls_ss6_link_namespace_form = path('qls_ss6.link_namespace_form') %}
{% set qls_ss6_namespace_trnsfer_trnsaction_form = path('qls_ss6.namespace_transfer_transaction_form') %}

{% trans %}
<h2>第6章 ネームスペース</h2>

<p>
認性の高い単語をリンクさせることができます。ネームスペースは最大64 文字、利用可能な文字はa, b, c,…, z, 0, 1, 2,…, 9, _ , - です。
</p>

<h3>6.1 手数料の計算</h3>
<p>
トランザクションを作成してから、改ざんが困難なデータとなるまでを順に説明します。
</p>
<p>
ネームスペースのレンタルにはネットワーク手数料とは別にレンタル手数料が発生します。
ネットワークの活性度に比例して価格が変動しますので、取得前に確認するようにしてください。
ルートネームスペースを365 日レンタルする場合の手数料を計算します。
</p>
<p>
これらがブロックチェーンを操作するための最も基本的な情報となります。
また、秘密鍵からアカウントを生成したり、公開鍵やアドレスのみを扱うクラスの生成方法も確認しておきましょう。
</p>
<p>
期間はブロック数で指定します。1 ブロックを30 秒として計算しました。
最低で30 日分はレンタルする必要があります（最大で1825 日分）。サブネームスペースの取得手数料を計算します。
</p>
<p>
サブネームスペースに期間指定はありません。ルートネームスペースをレンタルしている限り使用できます。
</p>

<h3>6.2 レンタル</h3>
<p>
<a href={{ qls_ss6_create_namespace_form }}>ルートネームスペースをレンタルします</a>(例:xembook)
</p>
<p>
<a href={{ qls_ss6_create_subnamespace_form }}>サブネームスペースをレンタルします</a>(例:xembook.tomato)
</p>
<p>
2 階層目のサブネームスペースを作成したい場合は例えば、xembook.tomato.morning を定義したい場合は以下のようにします。
</p>

<h4><a href={{ qls_ss6_list_namespaces_form }}>6.2.1 有効期限の計算</a></h4>
<p>トランザクションがブロックに承認されるまでに30 秒程度かかります。</p>
<p>
レンタル済みルートネームスペースの有効期限を計算します。
</p>
<p>
ネームスペース情報の終了ブロックを取得し、現在のブロック高から差し引いた残ブロック数に30 秒(平均ブロック生成間隔) を掛け合わせた日時を出力します。
テストネットでは設定した有効期限よりも1 日程度更新期限が猶予されます。メインネットはこの値が30 日となっていますのでご留意ください
</p>


<h3><a href={{ qls_ss6_link_namespace_form }}>6.3 リンク</a></h3>

<h4>6.3.1 アカウントへのリンク</h4>
<p>
【リンク先のアドレスは自分が所有していなくても問題ありません。
</p>

<h4>6.3.2 モザイクへリンク</h4>
<p>
モザイクを作成したアドレスと同一の場合のみリンクできるようです。
</p>

<h3><a href={{ qls_ss6_namespace_trnsfer_trnsaction_form }}>6.4 未解決で使用</a></h3>

<p>
送信先にUnresolvedAccount として指定して、アドレスを特定しないままトランザクションを署名・アナウンスします。
チェーン側で解決されたアカウントに対しての送信が実施されます。
v3 ではネームスペースを直接指定できないため、アドレスを特定しないまま操作する場合はデータを加工する必要があります。
</p>
<p>
送信モザイクにUnresolvedMosaic として指定して、モザイクID を特定しないままトランザクションを署名・アナウンスします。
</p>
<p>
XYM をネームスペースで使用する場合は以下のように指定します。
</p>

<h3>6.5 参照</h3>
<p>
アグリゲートトランザクションも通常のトランザクション同様、最大手数料を直接指定アドレスへリンクしたネームスペースの参照します
</p>
<p>
AliasType は以下の通りです。
</p>
<p>
NamespaceRegistrationType は以下の通りです。
</p>
<p>
モザイクへリンクしたネームスペースを参照します。
</p>

<h4>6.5.1 逆引き</h4>
<p>
アドレスに紐づけられたネームスペースを全て調べます。
</p>
<p>
モザイクに紐づけられたネームスペースを全て調べます。
</p>


<h4>6.5.2 レシートの参照</h4>
<p>
トランザクションに使用されたネームスペースをブロックチェーン側がどう解決したかを確認します。
</p>
<p>
アドレスの場合
</p>
<p>
モザイクの場合
</p>
<p>
注意事項
ネームスペースはレンタル制のため、過去のトランザクションで使用したネームスペースのリンク先と現在のネームスペースのリンク先が異なる可能性があります。
過去のデータを参照する際などに、その時どのアカウントにリンクしていたかなどを知りたい場合は必ずレシートを参照するようにしてください。
</p>

<h3>6.6 現場で使えるヒント</h3>

<h4>6.6.1 外部ドメインとの相互リンク</h4>
<p>
ネームスペースは重複取得がプロトコル上制限されているため、インターネットドメインや実世界で周知されている商標名と同一のネームスペースを取得し、
外部(公式サイトや印刷物など) からネームスペース存在の認知を公表することで、Symbol 上のアカウントのブランド価値を構築することができます(法的な効力については調整が必要です)。
外部ドメイン側のハッキングあるいは、Symbol 側でのネームスペース更新忘れにはご注意ください。
</p>
<p>
ネームスペースを取得するアカウントについての注意ネームスペースはレンタル期限と
いう概念をもつ機能です。今のところ、取得したネームスペースは放棄か延長の選択肢
しかありません。運用譲渡などが発生する可能性のあるシステムでネームスペース活用
を検討する場合はマルチシグ化(9 章) したアカウントでネームスペースを取得すること
をおすすめします。
</p>
<p>ネームスペースを取得するアカウントについての注意</p>
<p>
ネームスペースはレンタル期限という概念をもつ機能です。今のところ、取得したネー
ムスペースは放棄か延長の選択肢しかありません。運用譲渡などが発生する可能性のある
システムでネームスペース活用を検討する場合はマルチシグ化(9 章) したアカウントで
ネームスペースを取得することをおすすめします。
</p>
{% endtrans %}
