{#

Description text for Section 7.

#}

{{ attach_library('core/drupal.dialog.ajax') }}

{% set qls_ss7_metadata_account_form = path('qls_ss7.metadata_account_form') %}
{% set qls_ss7_metadata_mosaic_form = path('qls_ss7.metadata_mosaic_form') %}
{% set qls_ss7_metadata_namespace_form = path('qls_ss7.metadata_namespace_form') %}
{% set qls_ss7_list_metadata_form = path('qls_ss7.list_metadata_form') %}

{% trans %}
<h2>メタデータ</h2>

<p>
アカウント・モザイク・ネームスペースに対してKey-Value 形式のデータを登録することができます。
Value の最大値は1024 バイトです。
本章ではモザイク・ネームスペースの作成アカウントとメタデータの作成アカウントがどちらもAlice であることを前提に説明します。
</p>

<h3><a href={{ qls_ss7_metadata_account_form }}>7.1 アカウントに登録</a></h3>
<p>
アカウントに対して、Key-Value 値を登録します。
</p>
<p>
メタデータの登録には記録先アカウントが承諾を示す署名が必要です。
また、記録先アカウントと記録者アカウントが同一でもアグリゲートトランザクションにする必要があります。
</p>
<p>
異なるアカウントのメタデータに登録する場合は署名時にsignTransactionWithCosig-natories を使用します。
</p>
<p>
bob の秘密鍵が分からない場合はこの後の章で説明するアグリゲートボンデッドトランザクション、あるいはオフライン署名を使用する必要があります。
</p>


<h3><a href={{ qls_ss7_metadata_mosaic_form }}>7.2 モザイクに登録</a></h3>
<p>
ターゲットとなるモザイクに対して、Key 値・ソースアカウントの複合キーでValue 値を登録します。
登録・更新にはモザイクを作成したアカウントの署名が必要です。
</p>

<h3><a href={{ qls_ss7_metadata_namespace_form }}>7.3 ネームスペースに登録</a></h3>
<p>
ネームスペースに対して、Key-Value 値を登録します。
登録・更新にはネームスペースを作成したアカウントの署名が必要です。
</p>

<h3><a href={{ qls_ss7_list_metadata_form }}>7.4 確認</a></h3>
<p>
登録したメタデータを確認します。
</p>

<h3>7.4.1 注意事項</h3>
<p>
メタデータはキー値で素早く情報にアクセスできるというメリットがある一方で更新可能であることに注意しておく必要があります。
更新には、発行者アカウントと登録先アカウントの署名が必要のため、それらのアカウントの管理状態が信用できる場合のみ使用するようにしてください。
</p>

<h3>7.5 現場で使えるヒント</h3>

<h4>7.5.1 有資格証明</h4>
<p>
モザイクの章で所有証明、ネームスペースの章でドメインリンクの説明をしました。
実社会で信頼性の高いドメインからリンクされたアカウントが発行したメタデータの付与を受けることでそのドメイン内での有資格情報の所有を証明することができます。
</p>

<h4>DID</h4>
<p>
分散型アイデンティティと呼ばれます。
エコシステムは発行者、所有者、検証者に分かれ、例えば大学が発行した卒業証書を学生が所有し、企業は学生から提示された証明書を大学が公表している公開鍵をもとに検証します。
このやりとりにプラットフォームに依存する情報はありません。
メタデータを活用することで、大学は学生の所有するアカウントにメタデータを発行することができ、
企業は大学の公開鍵と学生のモザイク(アカウント)所有証明でメタデータに記載された卒業証明を検証することができます。
</p>

{% endtrans %}
